garrysmod/addons/hdri-editor/hdri-editor.zip
remixmod/hdri/textures/city-night.dds
remixmod/hdri/textures/indoors.dds
remixmod/hdri/textures/midday.dds
remixmod/hdri/textures/moon.dds
remixmod/hdri/textures/nightpark.dds
remixmod/hdri/textures/nightpark2.dds
remixmod/hdri/textures/nightsky.dds
remixmod/hdri/textures/ouchy.dds
remixmod/hdri/textures/puresun.dds
remixmod/hdri/textures/sunset.dds
